/* ── fish‑eater global overrides ─────────────────────────────────────────── */

/* green some other things */
:root {
  --extensions-primary: #00aa00 !important;
}

/* cursors */
html, body, * {
  cursor: url("https://fisheater.peterdance.com/resources/cursor.png"), auto !important;
}
*:hover {
  cursor: url("https://fisheater.peterdance.com/resources/cursor_select.png"), auto !important;
}
